.plane-aams-row .btn-transparent {
  width: fit-content;
}

.plane-aams-row .shell-icon {
  width: 40px;
  height: 40px;
}

.plane-aams-row .btn-transparent > span {
  text-decoration: underline;
  text-decoration-style: dotted;
}

.popover-header .shell-icon {
  width: 50px;
  height: 50px;
}

.aams-performance-list li:last-child {
  border-bottom: 0 !important;
}

#aam-popover {
  @media (max-width: 576px) {
    --bs-popover-max-width: calc(100dvw - 48px);
  }
  @media (min-width: 576px) {
    --bs-popover-max-width: 300px;
  }
}

.tooltip-inner {
  border: 1px solid gray;
}