.plane-aams-row .btn-transparent {
  width: fit-content;
}

.plane-aams-row .shell-icon {
  width: 30px;
  height: 30px;
}

.plane-aams-row .btn-transparent > span {
  text-decoration: underline;
  text-decoration-style: dotted;
}

.popover-header .shell-icon {
  width: 50px;
  height: 50px;
}

.aams-performance-list li:last-child {
  border-bottom: 0 !important;
}

.tooltip-inner {
  border: 1px solid gray;
}