.tank-shells-row .btn-transparent {
  width: fit-content;
}

.tank-shells-row .shell-icon {
  width: 40px;
  height: 40px;
}

.tank-shells-row .btn-transparent > span {
  text-decoration: underline;
  text-decoration-style: dotted;
}

.popover-header .shell-icon {
  width: 50px;
  height: 50px;
}

#shell-popover {
  @media (max-width: 576px) {
    --bs-popover-max-width: calc(100dvw - 48px);
  }
  @media (min-width: 576px) {
    --bs-popover-max-width: 300px;
  }
}

.shells-performance-list li:last-child {
  border-bottom: 0 !important;
}

.font-serif {
  font-family: serif !important;
}